//------------animation section------------//

/* rotateIn */
@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-200deg);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
}
@keyframes rotateIn {
    0% {
        transform-origin: center center;
        transform: rotate(-200deg);
        opacity: 0;
    }
    100% {
        transform-origin: center center;
        transform: rotate(0);
        opacity: 1;
    }
}
.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}

/* fadeInLeft */

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}



/* fadeInRight */

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}


/* pulse */
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

/* shake */
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0) translateY(0);}
    10%, 90% {-webkit-transform: translateX(20em) translateY(-10px);}
    20%, 80% {-webkit-transform: translateX(0em) translateY(0px);}
    30%, 70% {-webkit-transform: translateX(-20em) translateY(10px);}
    40%, 60% {-webkit-transform: translateX(-1em) translateY(-2px);}
    50% {-webkit-transform: translateX(-21em) translateY(-15px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0), translateY(0);}
    10%, 90% {transform: translateX(5em), translateY(-10px);}
    20%, 80% {transform: translateX(0em), translateY(0px);}
    30%, 70% {transform: translateX(-5em), translateY(10px);}
    40%, 60% {transform: translateX(-1em), translateY(-2px);}
    50% {transform: translateX(-6em), translateY(-15px);}
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}