//----------arrows section-----------//
.arrows {

}
.page_next {
    display: none;
    position: fixed;
    right: 5px;
    width: 0.5em;
    bottom: 50%;
    margin-bottom: 1em;
    img {
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, 0.15);
//        .border-radius(0.1em);
        .box-shadow(0 0 60px 0 rgba(0, 0, 0, 0.3));
    }
}
.page_prev {
    position: fixed;
    right: 5px;
    width: 0.5em;
    top: 50%;
    margin-top: 1em;
    img {
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, 0.15);
        //        .border-radius(0.1em);
        .box-shadow(0 0 60px 0 rgba(0, 0, 0, 0.3));
    }
}