//------------page9 section------------//
.page9 {
    .page7_count {
//        .transition(all 0.4s);
    }
    .page7_shape_fill {
//        .transition(bottom 0.4s);
    }
    & > section {
        position: absolute;
        left: -999em;
        &.active {
            position: static;
        }
    }
}
.page9_main {
    .page7_shape {
        margin-left: -1.5em;
    }
}
.page9_text {
    position: absolute;
    left: 50%;
    margin-left: -16.8em;
    top: 9em;
    .pf_bold;
    color: white;
    font-size: 0.5em;
    line-height: 1.2em;
    width: 10em;
    text-transform: uppercase;
}
.page9_lodaded {
    position: absolute;
    left: 50%;
    margin-left: -999em;
    top: 12.6em;
    .pf_reg;
    color: white;
    text-transform: uppercase;
    font-size: 0.4em;
    line-height: 1.2em;
    .transition(opacity 0.4s);
    .opacity(0);
    .loaded & {
        margin-left: 8.4em;
        .opacity(1);
    }
    .page9_cat & {
        margin-left: 6.2em;
    }
}
.page9_final {
    position: absolute;
    left: 50%;
    margin-left: -999em;
    top: 14.6em;
    .pf_reg;
    .transition(opacity 0.4s);
    .opacity(0);
    .loaded & {
        margin-left: 8.4em;
        .opacity(1);
    }
    .page9_cat & {
        margin-left: 2.4em;
        top: 6.3em;
    }
}

.page9_cat {
    .page7_shape {
        width: 11.98em;
        margin-left: -10.2em;
        top: 2em;
        height: 9.56em;
    }
    .page7_shape_wrap {
        position: absolute;
        top: -0.1em;
        left: -0.1em;
        right: -0.2em;
        bottom: -0.4em;
        overflow: hidden;
    }
    .page7_shape_fill {
        left: 0;
    }
    .page7_shape_image {
        height: auto;
        width: 139%;
        top: -1.46em;
        left: -2.1em;
    }
    .page7_count {
        left: 5em;
    }
}
.page9_box {
    .page7_shape {
        width: 8.62em;
        margin-left: -3.6em;
        top: 1.6em;
        height: 8.36em;
    }
    .page7_shape_wrap {
        position: absolute;
        top: -0em;
        left: -0em;
        right: -0em;
        bottom: -0em;
        overflow: hidden;
    }
    .page7_shape_fill {
        left: 0;
        top: auto;
        height: 145%;
    }
    .page7_shape_image {
        height: auto;
        width: 145%;
        top: -2.27em;
        left: -2em;
    }
    .page7_count {
        left: 0em;
    }
}
.page9_box_big {
    position: absolute;
    left: 50%;
    margin-left: -17.1em;
    top: 5.9em;
    width: 15em;
    font-size: 0.5em;
    line-height: 1.2em;
    color: white;
    text-transform: uppercase;
    .pf_light;
    .transition(opacity 0.4s);
    .opacity(1);
    .loaded & {
        .opacity(0);
        margin-left: -999em;
    }
}
.page9_box_normal {
    position: absolute;
    left: 50%;
    margin-left: -21.3em;
    top: 15.1em;
    width: 15em;
    font-size: 0.4em;
    line-height: 1.2em;
    color: white;
    text-transform: uppercase;
    .pf_bold;
    .transition(opacity 0.4s);
    .opacity(1);
    .loaded & {
        .opacity(0);
        margin-left: -999em;
    }
}
.page9_box_small {
    position: absolute;
    left: 50%;
    margin-left: -28.4em;
    top: 24.9em;
    width: 17em;
    font-size: 0.3em;
    line-height: 1.2em;
    color: white;
    text-transform: uppercase;
    .pf_bold;
    .transition(opacity 0.4s);
    .opacity(1);
    .loaded & {
        .opacity(0);
        margin-left: -999em;
    }
}
.page9_box_final {
    position: absolute;
    left: 50%;
    top: 3.1em;
    margin-left: -999em;
    .transition(opacity 0.4s);
    .opacity(0);
    .loaded & {
        margin-left: -9.2em;
        .opacity(1);
    }
}
.page9_box_top {
    font-size: 0.4em;
    color: white;
    .pf_reg;
    margin-bottom: 3.3em;
    text-transform: uppercase;
}
.page9_box_bottom {
    font-size: 0.5em;
    color: white;
    .pf_bold;
    margin-bottom: 1.1em;
    text-transform: uppercase;
}