//------------page1 section------------//
.page1 {

}
.page1_content {
    position: absolute;
    left: 50%;
    top: 1.6em;
    width: 7.24em;
    margin-left: -0.2em;
    .opacity(0);
    .transform(translateX(0em));
    & > img {
        width: 100%;
        position: relative;
    }
    .maincontent section.active & {
        .transition(all 0.4s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page1_content_text {
    position: absolute;
    left: 1.1em;
    top: 0.4em;
    width: 4.6em;
}
.page1_text_big {
    color: white;
    font-size: 0.6em;
    line-height: 1em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    .pf_bold;
    margin-bottom: 0.5em;
    .opacity(0);
    -webkit-transform: translateX(-1em);
    .maincontent section.active & {
        .transition(all 0.4s ease 0.4s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page1_text_normal {
    color: white;
    font-size: 0.36em;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    .pf_bold;
    .opacity(0);
    -webkit-transform: translateX(-1em);
    .maincontent section.active & {
        .transition(all 0.4s ease 0.6s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page1_scroll {
    position: absolute;
    top: 0.8em;
    right: 0.55em;
    width: 1.29em;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    .pulse;
    img {
        position: relative;
        width: 100%;
    }
}