//------------page5 section------------//
.page5 {

}
.page5_text_wrap {
    position: absolute;
    left: 50%;
    margin-left: -7em;
    width: 7em;
    top: 3.5em;
}
.page5_text_normal {
    .pf_reg;
    font-size: 0.4em;
    color: white;
    line-height: 1em;
    margin-bottom: 1em;
    .opacity(0);
    .transform(translateX(-1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.2s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page5_text_big {
    .pf_bold;
    font-size: 0.5em;
    color: white;
    line-height: 1em;
    .opacity(0);
    .transform(translateX(-1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.5s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page5_clean {
    position: absolute;
    width: 6.81em;
    left: 50%;
    margin-left: 0.5em;
    top: 2.63em;
    .opacity(0);
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.5s);
        .opacity(1);
    }
    & > img {
        width: 100%;
        display: block;
    }
}
.page5_wash {
    position: absolute;
    width: 1.4em;
    left: 50%;
    margin-left: 0.55em;
    top: 2em;
    .opacity(0);
    .transform(translateY(1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.5s);
        .opacity(1);
        .transform(translateY(0em));
    }
    & > img {
        width: 100%;
        display: block;
    }
}
.page5_loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.page5_loader_text {
    position: absolute;
    font-size: 2em;
    line-height: 1em;
    color: white;
    left: 2.8em;
    top: -0.5em;
    .pf_thin;
}
.page5_loader_wrap {
    position: absolute;
    left: 0.25em;
    top: 0.25em;
    right: 0.25em;
    bottom: 0.25em;
    .border-radius(50%);
    .opacity(0.8);
    overflow: hidden;
    &.full {
        .opacity(0);
    }
}
.page5_loader_top {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    span {
        position: absolute;
        top: 0;
        right: 0%;
        width: 200%;
        height: 100%;
        &:after {
            content: "";
            position: absolute;
            background: white;
            bottom: 0;
            left: 50%;
            width: 50%;
            height: 100%;
        }
    }

}
.page5_loader_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200%;
        height: 100%;
        &:after {
            content: "";
            position: absolute;
            background: white;
            top: 0;
            left: 0%;
            width: 50%;
            height: 100%;
        }
    }
}