//------------page2 section------------//
.page2 {

}
.page2_content {
    position: absolute;
    left: 50%;
    top: 1.9em;
    width: 6.44em;
    margin-left: -7.3em;
    .opacity(0);
    .transform(translateX(0em));
    & > img {
        width: 100%;
        position: relative;
    }
    .maincontent section.active & {
        .transition(all 0.4s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page2_content_text {
    position: absolute;
    right: 0.8em;
    top: 1em;
    width: 8em;
    text-align: right;
}
.page2_text_big {
    color: white;
    font-size: 0.6em;
    line-height: 1em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    .pf_bold;
    margin-bottom: 0.1em;
    .opacity(0);
    -webkit-transform: translateX(-1em);
    .maincontent section.active & {
        .transition(all 0.4s ease 0.4s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page2_text_normal {
    color: white;
    font-size: 0.4em;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    .pf_bold;
    .opacity(0);
    -webkit-transform: translateX(-1em);
    .maincontent section.active & {
        .transition(all 0.4s ease 0.6s);
        .opacity(1);
        .transform(translateX(0em));
    }
}