//------------page8 section------------//
.page8 {
    & > section {
        position: absolute;
        left: -999em;
        &.active {
            position: static;
        }
    }
}
.page8_top_text {
    position: absolute;
    left: 50%;
    margin-left: -8em;
    top: 2.4em;
    width: 9em;
    .have & {
        margin-left: -999em;
    }
}
.page8_text_normal {
    font-size: 0.26em;
    line-height: 1.2em;
    .pf_med;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2em;
    .opacity(0);
    .transform(translateX(1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.2s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page8_text_big {
    font-size: 0.44em;
    line-height: 1.2em;
    .pf_med;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1.4em;
    .opacity(0);
    .transform(translateX(1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.4s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page8_text_bottom {
    font-size: 0.5em;
    line-height: 1.2em;
    .pf_thin;
    color: white;
    text-transform: uppercase;
    .opacity(0);
    .transform(translateX(1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.9s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page8_text_buttons {
    margin-bottom: 0.9em;
    .cat_final & {
        margin-left: -999px;
    }
}
.page8_buttons_link {
    .inlineblock;
    width: 2.48em;
    margin-right: 0.1em;
    .opacity(0);
    .transform(translateX(1em));
    .maincontent > section.active > .active & {
        .transition(all 0.4s ease 0.6s);
        .opacity(1);
        .transform(translateX(0em));
    }
    img {
        display: block;
        width: 100%;
    }
}
.page8_text_wrap {
    width: 6.44em;
    position: absolute;
    left: 50%;
    margin-left: -999em;
    top: 4em;
    .opacity(0);
    .transform(translateX(1em));
    .maincontent > section.have & {
        .transition(~"all 0.4s ease 0.4s, margin 0s ease 0s");
        .opacity(1);
        .transform(translateX(0em));
        margin-left: -8em;
    }
    & > img {
        display: block;
        width: 100%;
    }
}
.page8_wrap_text {
    position: absolute;
    left: 1.5em;
    top: 2em;
    width: 12em;
    font-size: 0.4em;
    color: white;
    text-transform: uppercase;
    .pf_med;
}
.page8_cat_text {
    padding-top: 3.3em;
    font-size: 0.4em;
    .pf_bold;
    line-height: 1.2em;
    margin-bottom: 3.3em;
    color: #3f4f5e;
    text-transform: uppercase;
    .opacity(0);
    .transform(translateX(1em));
    .maincontent > section.active > section.active & {
        .transition(~"all 0.4s ease 0.4s, margin 0s ease 0s");
        .opacity(1);
        .transform(translateX(0em));
    }
    .cat_final & {
        margin-left: -999px;
    }
}
.page8_cat_final {
    position: absolute;
    left: 50%;
    margin-left: -999em;
    font-size: 0.48em;
    top: 10.8em;
    line-height: 1.2em;
    color: #3f4f5e;
    .pf_bold;
    text-transform: uppercase;
    .opacity(0);
    .transform(translateX(1em));
    .cat_final & {
        .transition(~"all 0.4s ease 0.4s, margin 0s ease 0s");
        .opacity(1);
        .transform(translateX(0em));
        margin-left: -16.5em;
    }
}