//------------page3 section------------//
.page3 {

}
.page3_icon1 {
    width: 2.36em;
    position: absolute;
    left: 50%;
    top: 1em;
    margin-left: -6.1em;
    .opacity(0);
    -webkit-transform: translateX(-1em);
    .maincontent section.active & {
        .transition(all 0.4s ease 0.2s);
        .opacity(1);
        .transform(translateX(0em));
    }
    img {
        display: block;
        width: 100%;
        position: relative;
    }
}
.page3_icon2 {
    width: 2.36em;
    position: absolute;
    left: 50%;
    top: 4.1em;
    margin-left: -6.9em;
    .opacity(0);
    -webkit-transform: translateX(-1em);
    .maincontent section.active & {
        .transition(all 0.4s ease 0.4s);
        .opacity(1);
        .transform(translateX(0em));
    }
    img {
        display: block;
        width: 100%;
        position: relative;
    }
}
.page3_icon3 {
    width: 2.36em;
    position: absolute;
    left: 50%;
    top: 7.1em;
    margin-left: -6.2em;
    .opacity(0);
    -webkit-transform: translateX(-1em);
    .maincontent section.active & {
        .transition(all 0.4s ease 0.6s);
        .opacity(1);
        .transform(translateX(0em));
    }
    & > img {
        display: block;
        width: 100%;
        position: relative;
    }
}
.page3_icon_hover {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -1.545em;
    margin-left: -1.545em;
    width: 3.09em;
    .opacity(0);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    .page_content > a:hover & {
        .rotateIn;
    }
    & > img {
        display: block;
        width: 100%;
        position: relative;
    }
}
.page3_icon_text {
    position: absolute;
    top: 1.9em;
    left: 5.9em;
    font-size: 0.5em;
    line-height: 1em;
    white-space: nowrap;
    .pf_bold;
    text-transform: uppercase;
    .opacity(0);
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    .page3_icon1 & {
        color: #e26fdc;
    }
    .page3_icon2 & {
        color: #3A7EC3;
    }
    .page3_icon3 & {
        color: #00EBFE;
    }
    .page_content > a:hover & {
        .fadeInLeft;
    }
}