//------------page7 section------------//
.page7 {

}
.page7_content {
    .page1_scroll {
        left: 0;
        margin-left: -1.7em;
        top: 0em;
    }
}
.page7_shape {
    background: white;
    width: 3.92em;
    height: 8.96em;
    position: absolute;
    left: 50%;
    top: 1em;
    .opacity(0);
    .transform(translateX(-1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.6s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page7_shape_image {
    display: block;
    width: 241%;
    position: relative;
    top: -1.1em;
    left: -2.6em;
}
.page7_shape_fill {
    height: 123%;
    left: -250%;
    display: block;
    position: absolute;
    bottom: -100%;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
//    .shake;
//    .transition(bottom 0.3s);
}
.page7_shape_wrap {
    position: absolute;
    top: -0.1em;
    left: -0.1em;
    right: -0.2em;
    bottom: 0em;
    overflow: hidden;
}
.page7_text {
    position: absolute;
    left: 50%;
    top: 5.3em;
    margin-left: -9.9em;
    color: white;
    font-size: 0.6em;
    text-transform: uppercase;
    width: 8.7em;
    .pf_bold;
    .opacity(0);
    .transform(translateX(-1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.2s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page7_findout {
    position: absolute;
    left: 50%;
    top: 6.4em;
    margin-left: -6.6em;
    font-size: 0.9em;
    .pf_thin;
    color: white;
    text-transform: uppercase;
    .opacity(0);
    .transform(translateX(-1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.2s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page7_count_num {
    .pf_reg;
    font-size: 1em;
    line-height: 1em;
    color: white;
    position: absolute;
    left: 100%;
    top: -0.2em;
    margin-left: 0.1em;
    div {
        position: absolute;
        bottom: 100%;
        font-size: 0.24em;
        line-height: 1em;
        left: 0.2em;
        text-transform: uppercase;
        white-space: nowrap;
    }
}
.page7_count {
    position: absolute;
    bottom: 0%;
    left: -0.2em;
    right: -0.2em;
    height: 0.1em;
    background: white;
//    .transition(all 0.3s);
}