//------------page10 section------------//
.page10 {

}
.page10_text {
    position: absolute;
    left: 50%;
    margin-left: -7em;
    top: 1.5em;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.32);
    .border-radius(0.1em);
//    .box-shadow(0 0 60px 0 rgba(0, 0, 0, 0.3));
    & > img {
        width: 4.71em;
        display: block;
        margin-bottom: 1em;
    }
}
.page10_top {
    text-transform: uppercase;
    color: white;
    .pf_reg;
    font-size: 0.4em;
    line-height: 1.4em;
    margin-bottom: 3em;
}
.page10_bottom {
    text-transform: uppercase;
    color: white;
    .pf_bold;
    font-size: 0.4em;
    line-height: 1.4em;
    margin-bottom: 2em;
}
.page10_again {
    display: block;
    width: 2.54em;
    img {
        display: block;
        width: 100%;
    }
}