//------------page6 section------------//
.page6 {

}
.page6_text_wrap {
    position: absolute;
    left: 50%;
    margin-left: -7em;
    width: 5em;
    top: 3.5em;
}
.page6_loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.page6_clean {
    position: absolute;
    width: 6.81em;
    left: 50%;
    margin-left: 0.5em;
    top: 2.63em;
    .opacity(0);
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.5s);
        .opacity(1);
    }
    & > img {
        width: 100%;
        display: block;
    }
}

.page6_loader_text {
    position: absolute;
    font-size: 2em;
    line-height: 1em;
    color: white;
    right: 0.2em;
    top: -0.9em;
    .pf_thin;
}
.page6_product {
    position: absolute;
    left: 50%;
    margin-left: -1.99em;
    width: 3.89em;
    top: 1em;
    .opacity(0);
    .transform(translateY(-1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 1.3s);
        .opacity(1);
        .transform(translateY(0em));
    }
    & > img {
        display: block;
        width: 100%;
    }
}