//------------page4 section------------//
.page4 {
    & > section {
        position: absolute;
        left: -99999px;
        top: 0;
        width: 100%;
        height: 100%;
        &.active {
            left: 0;
        }
    }
}
.page4_logo {
    position: absolute;
    left: 50%;
    margin-left: -9.4em;
    top: 0.1em;
    width: 4.71em;
    .opacity(0);
    .transform(translateX(-1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 1.5s);
        .opacity(1);
        .transform(translateX(0em));
    }
    img {
        display: block;
        width: 100%;
    }
}
.page4_text {
    position: absolute;
    left: 50%;
    margin-left: -8.5em;
    top: 3.6em;
    width: 6.44em;
    .opacity(0);
    .transform(translateX(1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.4s);
        .opacity(1);
        .transform(translateX(0em));
    }
    & > img {
        display: block;
        width: 100%;
    }
}
.page4_wrap {
    position: absolute;
    left: 0.6em;
    top: 0.7em;
    width: 5em;
}
.page4_normal {
    color: white;
    font-size: 0.34em;
    .pf_med;
//    text-transform: uppercase;
    margin-bottom: 1em;
    .opacity(0);
    .transform(translateX(1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.6s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page4_big {
    color: white;
    font-size: 0.42em;
    .pf_bold;
    text-transform: uppercase;
    margin-bottom: 2.4em;
    .opacity(0);
    .transform(translateX(1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 0.8s);
        .opacity(1);
        .transform(translateX(0em));
    }
}
.page4_motiv {
    color: white;
    font-size: 0.4em;
    .pf_bold;
    text-transform: uppercase;
    .opacity(0);
    .transform(translateX(1em));
    .maincontent > section.active & {
        .transition(all 0.4s ease 1s);
        .opacity(1);
        .transform(translateX(0em));
    }
}