html {
	width:100%;
	height:100%;
	font-size: 100.01%;
    overflow: hidden;
}

body {
	font: 14px/1.41 Arial, sans-serif;
	width:100%;
	height:100%;
    min-width: 1024px;
    min-height: 600px;
}
.viewsize {
    position: absolute;
    left: -99999px;
    top: 0;
    width: 100%;
    height: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
    list-style: none inside none;
}

@import "mixins.less";

/* Secondary section */

.container {
	width: 106.6em;
	margin: 0 auto;
}

.wrapper {
	position: relative; 
	min-height: 100%;
	height: auto !important;
	height: 100%;
    overflow: hidden;

}

.maincontent {
    width: 100%;
    position: relative;

    min-width: 1024px;
    min-height: 600px;
    & > section {
        overflow: hidden;
        position: relative;
        height: 100%;
    }
}
.page_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
        position: absolute;
    }
}
.page_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hidden, .ninja {
    position: absolute;
    left: -9999px;
    top: -9999px;
    .opacity(0);
    width: 0px;
    height: 0px;
    overflow: hidden;
}

@import "/less/animation";
@import "/less/fonts";
@import "/less/page1";
@import "/less/page2";
@import "/less/page3";
@import "/less/page4";
@import "/less/page5";
@import "/less/page6";
@import "/less/page7";
@import "/less/page8";
@import "/less/page9";
@import "/less/page10";
@import "/less/arrows";